.square {
	min-height: 100px;
}

.has-bottom-line {
	border-bottom: 1px solid black;
}

.has-right-line {
	border-right: 1px solid black;
}

.game-area {
	margin-top: 20px;
	border: 5px solid black;
}

.result {
	text-align: center;
}
